@model DBTestingProject.Models.Furniture
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 style="color:red">Create</h1>

<div class="row">
    <div class="container col-md-4">
        <form asp-action="AddToFurnitureMyList">
            
            <div class="form-group mb-4">
                <label asp-for="TypeFurniture" class="form-control"></label>
                <input asp-for="TypeFurniture" class="form-control"/>
                <span asp-validation-for="TypeFurniture" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="OutsideView" class="form-control"></label>
                <input asp-for="OutsideView" class="form-control" />
                <span asp-validation-for="OutsideView" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Material" class="form-control"></label>
                <input asp-for="Material" class="form-control" />
                <span asp-validation-for="Material" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <label asp-for="Price" class="form-control"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group mb-4">
                <input type="submit" value="AddToFurnitureMyList" class="btn btn-primary form-control"/>
            </div>
        </form>
    </div>
    <div>
        <a asp-action="Index">Come Back</a>
    </div>
</div>